.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

data/historical/*
reports/logs/*
reports/figures/*
!reports/figures/.gitkeep
!reports/figures/dashboard_main.png
!reports/figures/locked_trade_log_2trade.png
live_artifacts/states/*

.env
.DS_Store
